    .header,
    .header__megamenu-are,
    .header__topbar-classic-bg,
    .topbar--classic,
    .header__navbar,
    .site__body,
    .block-categories__body {
        background: #fafafa !important;
    }

    .topbar--classic .topbar__item-text,
    span.settingsName,
    .indicator__title,
    .indicator__value,
    .main-menu .main-menu__link,
    .block-sale__title,
    .block-sale__subtitle,
    .block-features__item-title,
    .phone__number {
        color: black !important;
    }

    .header__topbar-classic,
    .header__navbar,
    .header__topbar-classic-bg {
        border-bottom: 1px solid #6d6d6d !important;
    }

    .indicator__icon {
        fill: black !important;
    }

    .header__navbar {
        border-top: 1px solid #6d6d6d !important;
    }

    .block-categories__body,
    .block.block-sale,
    .block-features.block.block-features--layout--bottom-strip {
        background: #f6f6f6 !important;

    }

    .timer__dots:before,
    .timer__dots:after {

        background: black;
    }

    .block-features__item-subtitle {
        color: #6c757d !important;
    }